@import url('https://fonts.googleapis.com/css2?family=Comic+Neue&display=swap');

*{
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-size: 14px;
}

header{
  background-image: url(images/bg.png);
  color: white;
  padding-top: 4em;
  padding-bottom: 2em;
}

header h1{
  font-family: 'Comic Neue', cursive;
  font-size: 3em;
  text-align: center;
  padding: 1em;
}

header ol{
  background-color: black;
  opacity: 0.5;
  display: flex;
  justify-content: center;
}

header ol li{
  list-style: none;
  padding: 1.25em;
}

header ol li a{
  color: white;
  text-decoration: none;
}

main{
  width: 0 auto;
  height: 0 auto;
  padding-left: 13em;
  padding-right: 13em;
}

main h2{
  font-family: 'Comic Neue', cursive;
  font-size: 2em;
  padding: 0.75em;
  text-align: center;
}

main p{
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.5em;
  padding-bottom: 2em;
  text-align: center;
}

main article{
  display: flex; /*não está funcionando no article*/
	flex-wrap: wrap; /*não está funcionando no article*/
  
  justify-content: center;
	align-items: center;
  align-content: center;
  
}

main article div{
  display: flex; /*só está funcionando aqui*/
	flex-wrap: wrap; /*só está funcionando aqui*/
  justify-content: center;
	align-items: center;
  background-image: url(images/bg-boxes.jpg);
  max-width: 15em;
  margin: 1em;
  padding: 1em;
  border-radius: 10px;
}

main article div h2{
  color: white;
  font-family: 'Comic Neue', cursive;
  font-size: 1.5em;
}

main article div p{
  color: white;
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.1em;
  text-align: center;
}

footer{
  background-image: url(images/bg.png);
  color: white;
  margin-top: 3em;
  padding-top: 1.25em;
  padding-bottom: 1.25em;
}

footer ul{
  display: flex;
  justify-content: flex-end;
}

footer ul li{
  list-style: none;
  padding: 0.25em;
}

footer ul li a img{
  width: 90%;
  height: 90%;
}